body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}



header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    padding: 20px;
}

.gallery-item {
    text-align: center;
    margin: 10px; 
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    width: 150px; 
    border-radius: 10px;
    margin-top: 10px;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
